<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    <!-- mainn header -->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <img src="images/404.png" alt="" class="w-100 h-50">
                        <a href="/" class="btn btn-info text-center d-block">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->

</body>

</html>