<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>menu}}

    <!-- mainn header -->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/user.png" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To weather app</p>
                        <h1>I Am A<span class="text-clr"> Web Developer</span></h1>
                        <a href="" class="btn btn-info">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

</body>

</html>